.images {
    display: flex;
    flex-direction: column;
}

.images img {
    width: 10%;
    padding-bottom: 5%;
    margin-left: 15%;
}

.blurb {
    padding-left: 40%;
    padding-right: 10%;

    font-size: larger;
}

.info-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}